<div class="admin_nav small-9 small-centered columns">
  <%= link_to t('admin.layout.nav.about'), controller: "about", action: "show" %>
  <%= link_to t('admin.layout.nav.resume'), controller: "resume", action: "index" %>
  <%= link_to t('admin.layout.nav.book'), controller: "locations", action: "index" %>
  <%= link_to t('admin.layout.nav.albums'), controller: "albums", action: "index" %>


</div>