<div class="admin_nav small-9 small-centered columns">
  <%= link_to "About", controller: "about", action: "show" %>
  <%= link_to "Resume", controller: "resume", action: "index" %>
  <%= link_to "Book", controller: "locations", action: "index" %>


</div>