.admin_header{
  margin-top: 20px;
}

.admin_body{
  position: relative;
  clear: left;
}

/************** Header nav Styling *************/

.admin_logo{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 20px;
}

.admin_nav{
  height: 120px;
  line-height: 100px;
}

.admin_nav > a{
  margin-right: 20px;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.nav-right{
  float: right;
}

/*************** Tables *******************/
.table-container{
  width: 100%;
}

.table-container > table{
  width: 100%;
}

.table-container > table > thead > tr > th{
  text-align: center;
}

.table-container > table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
}

.table-container > table > tbody > tr > td > a{
  margin-top: 10px;
  margin-bottom: 10px;
}

/*************** Separator  ************************/
.separator {
  padding: 10px;
  position: relative;

  .mask {
    overflow: hidden;
    height: 20px;
    &:after {
      content: '';
      display: block;
      margin: -25px auto 0;
      width: 100%;
      height: 25px;
      border-radius: 125px / 12px;
      box-shadow: 0 0 8px black;
    }
  }

  .mask-small {
    overflow: hidden;
    height: 10px;
    &:after {
      content: '';
      display: block;
      margin: -13px auto 0;
      width: 100%;
      height: 13px;
      border-radius: 125px / 12px;
      box-shadow: 0 0 5px #e7e7e7;
    }
  }
}

/************** pages with main image layout and image gallery  ***************/

.info{

}

.info-image{
  margin-top: 58px;
}

.picture-gallery{
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.picture{
  max-width: 16%;
  margin-right: 10px;
  float: left;
  position: relative;
  z-index: 2;
}

.delete-image{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index:1;
  display: none;
  cursor: pointer;
}