<div class="centered">
    <div id="masonry-container" class="transitions-enabled small-11 small-centered inline">
      <% @albums.each do |alb|%>
          <div class="box col3">
            <% I18n.locale == :fr ? title = alb.name_fr : title = alb.name_en %>
            <%= link_to image_tag(alb.main_image, alt: title), controller: "photos", action: "show", id: alb.id %>
            <p class="alb-title"><%=title%></p>
            <div class="overlay-container"><div class="overlay"></div></div>
          </div>
      <% end %>
    </div>
</div>