<div class="row album-img">
  <%= image_tag @album.main_image, class: 'no-border' %>
</div>

<div class="album-desc row">
  <div class="small-12 small-centered columns">
    <div class="title"><span><%=t("app.photos.desc")%></span></div>
    <div class="desc-content"><%=@description.html_safe%></div>
  </div>
</div>


<div class="centered">
  <div id="masonry-container" class="transitions-enabled has-gutter small-12 small-centered inline">
    <% @photos.each_with_index do |photo, index|%>
        <div class="box col2 box-margin">
          <%= link_to(image_tag(photo.image(:medium), class: 'no-border'), "#", { "data-reveal-id" => "carousselModal", "position" => index, "class" => "open-modal"})%>
        </div>
    <% end %>
  </div>
</div>

