// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-img{

}

.map-img > img{
  max-width: 900px;
  max-height: 450px;
  margin-top: -130px;
  z-index: 1;
  position: relative;
}

.about-section{
  text-align: center;
  margin-top: 20px;
}

.about-section > span{
  font-weight: bold;
  font-size: 30px;
  font-family: Lobster-ALT;
}