/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/* styling for tabs titles*/
.tabs a{
    border-radius: 4px 4px 0 0;
}

.tabs-content>.content.contained{border: solid 0 #e7e7e7; border-width: 1px 1px 1px 1px;}

/* table in tabs styling */
.tabs-content>.content table {
   width: 100%;
    height: 100%;
    border: none;
}

.tabs-content>.content table tr td{
    background: white;
    text-align: center;
    vertical-align: middle ;
}

.tabs-content>.content table tr td.cell1{
    width: 30%;
}

.tabs-content>.content table tr td.cell2{
    width: 70%;
}

/* Styling for textarea */
textarea {
    resize: none;
}

/* styling for images */
img {
    padding: 3px;
    border: solid 2px #e7e7e7;
}

img.no-border{
    padding: 0px;
    border: none;
}


/* styling for form errors */
.field_with_errors input{
    border: 1px solid red;
}

.error_explanation{
    border-radius: 10px 10px 10px 10px;
    border: solid 2px red;
    text-align: center;
    padding: 10px 0 0 0;
}

.error_explanation ul li{
   color: red;
}