/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require jquery-ui/datepicker
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */


/********************** styling for tabs titles ***************************/
.tabs a{
    border-radius: 4px 4px 0 0;
}

.tabs-content>.content.contained{border: solid 0 #e7e7e7; border-width: 1px 1px 1px 1px;}

/********************** table in tabs styling **********************/
.tabs-content>.content table {
   width: 100%;
    height: 100%;
    border: none;
}

.tabs-content>.content table tr td{
    background: white;
    text-align: center;
    vertical-align: middle ;
}

.tabs-content>.content table tr td.cell1{
    width: 30%;
}

.tabs-content>.content table tr td.cell2{
    width: 70%;
}

/********************** Styling for textarea **********************/
textarea {
    resize: none;
}

/********************** styling for images **********************/
img {
    padding: 3px;
    border: solid 2px #e7e7e7;
}

img.no-border{
    padding: 0px;
    border: none;
}


/********************** styling for form errors **********************/
.field_with_errors input{
    border: 1px solid red;
}

.error_explanation{
    border-radius: 10px 10px 10px 10px;
    border: solid 2px red;
    text-align: center;
    padding: 10px 0 0 0;
}

.error_explanation ul li{
   color: red;
}

/********************** Styling flash messages **********************/
.notice{
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

.alert-notice{
    border: solid 1px #4F938A;
    background-color: #E3F2DF;
    color: #4F938A;
}

.alert-alert{
    border: solid 1px #C15354;
    background-color: #F4E2E2;
    color: #C15354;
}


/********************** Styling login page **********************/

.login {
    border: 3px solid #64c7c4;
    border-radius: 10px;
    padding: 20px;
}

.login div input[type="email"] {
    border: 1px solid #64c7c4;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #c0c0c0;
}

.login div input[type="password"] {
    border: 1px solid #64c7c4;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #c0c0c0;
}

.login div input[type="checkbox"] {
    border: 3px solid #64c7c4;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #c0c0c0;
}

.login div.actions .full-width {
    width: 100%;
    vertical-align: middle ;
}

.login div.centered {
    width: 50%;
    margin: 0 auto;
}

/********************* Styling app header and navigation *******************/

.app_header{
    margin-top: 20px;
}

.app_logo{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 20px;
    z-index: 2;
    position: relative;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.app_nav{
    height: 120px;
    line-height: 40px;
}

.app_nav > a{
    margin-left: 20px;
}

.page-title{
    font-size: 45px;
    margin-top: 80px;
    text-align: left;
    z-index: 3;
    position: relative;
}

.page-title > span {
    margin-left: -80px;
}


/**************** Styling for app body *****************/

.app-body{
    margin-top: 30px;
}

/*************** global *****************/
.centered {
    margin: 0 auto;
    text-align: center;
}