// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circular {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  float: left;
  margin: 20px;
}

.circular > a > img {
  width: 200px;
  height: 200px;
  padding: 0;
}

.circular .loc-title{
  position:relative;
  bottom:135px;
  text-align: center;
  font-size: 30px;
  text-shadow: 0px 0px 2px #8E8E8E;
  color: #ffffff;
  font-family: Lobster-ALT;
}

.location_list{
  max-width: 90%;
}