// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.download-link{
   margin-left: 60px;
 }

.download-icon{
  height: 55px;
  width: 65px;
}

.resume-section{
  margin-top: 20px;
}

.resume-section > span{
  font-weight: bold;
  font-size: 30px;
  font-family: Lobster-ALT;
}

.resume-section > div{
  margin-left: 50px;
}

.resume-section > table{
  margin-left: 40px;
}

.resume-desc{
  margin-left: 20px;
}