// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-logo{
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home-logo > img{
  width: 150px;
  height: 150px;
}

.home-title{
  text-align: center;
}

.home-name{
  margin-top: 10px;
  font-family: 'Lobster-ALT';
  font-weight: 400;
  font-size: 35px;
}

.profession{
  margin-top: -10px;
  font-family: Caviar-ALT;
}

.link-list{
  text-align: center;
}

.link-list > div {
  margin-top: 30px;
}

.language-select{
  text-align: center;
  font-family: Lobster-ALT;
  font-size: 25px;
}


//separator
.separator {
  padding: 10px;
  position: relative;

  .mask-small {
    overflow: hidden;
    height: 10px;
    &:after {
      content: '';
      display: block;
      margin: -13px auto 0;
      width: 380px;
      height: 13px;
      border-radius: 125px / 12px;
      box-shadow: 0 0 1px #000000;
    }
  }
}

/********** link images ***************/
.welcome_thumb{
  width: 120px;
  height: 350px;
  font-family: Lobster-ALT;
  font-size: 25px;
  color: #ffffff;
  float: left;
  margin-right: 10px;
}

.about_thumb{
  background-image: url("welcome/about_nb.jpg");
  background-repeat: no-repeat;
  background-position: -420px;
}

.about_thumb:hover {
  background-image: url("welcome/about.JPG");
  background-repeat: no-repeat;
  background-position: -420px;
}

.book_thumb{
  background-image: url("welcome/book_nb.jpg");
  background-repeat: no-repeat;
  background-position: -220px;
}

.book_thumb:hover {
  background-image: url("welcome/book.JPG");
  background-repeat: no-repeat;
  background-position: -220px;
}

.resume_thumb{
  background-image: url("welcome/cv_nb.jpg");
  background-repeat: no-repeat;
  background-position: -100px;
}

.resume_thumb:hover {
  background-image: url("welcome/cv.JPG");
  background-repeat: no-repeat;
  background-position: -100px;
}

.perso_thumb{
  background-image: url("welcome/perso_nb.jpg");
  background-repeat: no-repeat;
  background-position: -250px -20px;
}

.perso_thumb:hover {
  background-image: url("welcome/perso.JPG");
  background-repeat: no-repeat;
  background-position: -250px -20px;
}

.photos_thumb{
  background-image: url("welcome/photos_nb.jpg");
  background-repeat: no-repeat;
  background-position: -360px;
}

.photos_thumb:hover {
  background-image: url("welcome/photos.JPG");
  background-repeat: no-repeat;
  background-position: -360px;
}