<h1><%=t('admin.about.edit.title')%></h1>

<%= link_to t('admin.buttons.back'), admin_about_path(@about), :class => 'button radius tiny' %>

<%= render 'form' %>

<%= link_to t('admin.buttons.back'), admin_about_path(@about), :class => 'button radius tiny' %>