<div class="Collage effect-parent">
    <% @projects.each do |project|%>
      <% I18n.locale == :fr ? title = project.name_fr : title = project.name_en %>
        <div class="Image_Wrapper" data-caption="<%=title%>">
            <%= link_to image_tag(project.main_image(:grey), alt: title, class: "BWtoColor"), controller: "projects", action: "show", id: project.id %>
        </div>
    <% end %>
</div>