
<div id="masonry-container" class="transitions-enabled centered">
    <% @projects.each do |project|%>

        <div class="box col3">
            <% I18n.locale == :fr ? title = project.name_fr : title = project.name_en %>
            <%= link_to image_tag(project.main_image, alt: title), controller: "projects", action: "show", id: project.id %>
            <p class="project-title"><%=title%></p>
            <div class="overlay-container"><div class="overlay"></div></div>
        </div>
    <% end %>
</div>